* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: plum;
}

button {
  border: 2px solid black;
  border-radius: 3px;
  background-color: sandybrown;
  padding: 0.5em 0.75em;
  margin: 0.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 3rem;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

button:hover {
  background-color: hsl(28, 87%, 57%);
}

ul {
  list-style: none;
}

.list {
  display: inline-block;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 3px;
  margin: 0.5rem;
  min-width: 20vw;
  font-style: italic;
  background-color: hsl(300, 47%, 85%);
}

.list-item::before {
  content: '';
  display: inline-block;
  background-color: slateblue;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  margin-right: 0.5em;
}
